@{
    ViewData["Title"] = "Home Page";
}
@model List<TKPMGD_NET.Data.TestCase>
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Test Date</th>
            <th class="text-center">Pass / Fail</th>
            <th class="text-center">Case</th>
            <th class="text-center">Complete</th>
            <th class="text-center">Control</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="text-center"><span class="label label-default">@item.AddedDate.ToString("MMM, dd-yyyy H:mm:ss")</span></td>
                <td class="text-center"><span class="label label-success">@item.Sentences.Count(x => x.Status == "PASS")</span> / <span class="label label-primary">@item.Sentences.Count()</span></td>
                <td>
                    @foreach (var cast in item.Sentences) {
                        if (!string.IsNullOrEmpty(cast.Content)) {
                            <a class="btn @(cast.Status=="PASS"?"btn-success":cast.Status=="FAIL"?"btn-warning":"btn-default") btn-xs" onclick="readOutLoud('@(!string.IsNullOrEmpty(cast.Content) ? cast.Content.Trim() : "")')">
                                <i class="glyphicon glyphicon-@(cast.Status=="PASS"?"check":cast.Status=="FAIL"?"remove":"")"></i>
                                <i class="badge">@cast.Time</i>
                                @(!string.IsNullOrEmpty(cast.Content) ? cast.Content.Trim() : "")
                            </a>
                        }
                    }
                </td>
                <td class="text-center"><input type="checkbox" @(item.Status == "DONE" ? "checked" : "") name="" disabled></td>
                <td class="text-center">
                    <a class="btn btn-danger btn-xs" asp-action="Sentences" asp-route-id="@item.Id">Retest</a>
                </td>
            </tr>
        }
    </tbody>
</table>